.spacer{
    flex: 1 1 auto;
}

.first-row {
  z-index:4;
  display: flex;
}

// .study-table {
//   width: 200px;
// }
// .study-header-cell {
//   display: table-cell;
// }
//
// TODO: Switch between a width of 300px and ~500px depending on screen size.
// #expansion-panel {
//   // display: table-row;
//   // width: 300px;
// }


// .header-content {
//   min-width:100px;
//   width: 400px;
// }
//
// .expansion-content {
//   min-width:100px;
//   width: 450px;
// }

.search-container {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom:.5em;
  // @include mat.input-density(-2); // note: These lines may need to be moved
  // @include mat.all-component-densities(-2);
}

.mini-button {
  background-color: #efefef;
  color: black;
}

.spinner {
  margin-top: 60%;
  margin-left: 40%;
  margin-bottom:60%;
}

// .drop-selector {
//   text-align: right;
// }
// ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.1em 0px !important;}
// .search-input {

  // height: 15px;
  // @include mat.button-density(-2);
// }
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//     padding: .1em;
// }
