
.spacer{
    flex: 1 1 auto;
}
.search-container {
  display: flex;
  // position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  // margin: .5em .5em .5em .5em;
  margin-top: 1em;
  margin-left: 1em;
  // @include mat.input-density(-2); // note: These lines may need to be moved
  // @include mat.all-component-densities(-2);
}

.mini-button {
  // outline: none;
  background-color: #efefef;
  color: black;
  // opacity:1;
}

.spinner {
  margin-top: 60%;
  margin-left: 40%;
  margin-bottom:60%;
}

.paginator {
  // flex-direction: column-reverse;
  // position: relative;
}
mat-expansion-header {
}

mat-form-field {
  // margin-top: .5em;
  // @include mat.button-density(-2);
}

.drop-selector {
  // margin-top: 5em;
  // margin-top: 10em;
  // height: 10px;
}
// ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.1em 0px !important;}
// .search-input {

  // height: 15px;
  // @include mat.button-density(-2);
// }
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//     padding: .1em;
// }

// .search-input {
//   /* font-size: 3pt; */
//   outline-style: solid;
//   outline-color: black;
//   width: 50%;
//   height: 15px;
// }
// .dropList-selector {
//   height: 100%;
// }
// .dropList {
//   width: 170px;
//   height: 100%;
//   background-color: lightcyan;
// }
// search-input + dropList {
//   margin-left: 5px;
// }
//
// mat-expansion-panel {
//   width: 100%;
// }
//
// .study-header-cell {
//   padding: 0px;
// }
// .description-content {
//   /* overflow-wrap: break-words; */
//   word-break: break-all;
//
// }
