@use 'sass:map';
@use '@angular/material' as mat;


.spacer{
    flex: 1 1 auto;
}

.search-container {
  background-color: lightblue;
  // @include mat.input-density(-2); // note: These lines may need to be moved
  // @include mat.all-component-densenties(-2);
  // @include mat.all-component-densities(-2);
}

// .search-form {
//   margin-top: 5px;
//   margin-left: 5px;
//   // width: 30%;
//   background-color: lightseagreen;
//   // @include mat.button-density(-3);
// }

mat-form-field {
  margin-top: 5px;
  margin-left: 5px;
  // @include mat.button-density(-2);
}
// ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.1em 0px !important;}
// .search-input {

  // height: 15px;
  // @include mat.button-density(-2);
// }
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//     padding: .1em;
// }

// .search-input {
//   /* font-size: 3pt; */
//   outline-style: solid;
//   outline-color: black;
//   width: 50%;
//   height: 15px;
// }
// .dropList-selector {
//   height: 100%;
// }
// .dropList {
//   width: 170px;
//   height: 100%;
//   background-color: lightcyan;
// }
// search-input + dropList {
//   margin-left: 5px;
// }
//
// mat-expansion-panel {
//   width: 100%;
// }
//
// .study-header-cell {
//   padding: 0px;
// }
// .description-content {
//   /* overflow-wrap: break-words; */
//   word-break: break-all;
//
// }
