.map-container {
  position: absolute;
  margin-top: 2.5em;
  height: calc(100% - 2.5em);
  /* height: 100%; */
  width: 100%;
  background-color: white;
  /* background-color: lightskyblue; */
}

.button-container {
  display:flex;
  justify-content: center;
  z-index: 54;
}

.spinner-container {
  display:flex;
  justify-content: center;
}

button {
  margin-top: 50vh;
}

#spinner {
  margin-top: 47vh;
}
