<!-- <script src="https://unpkg.com/deck.gl@latest/dist.min.js"></script> -->
<!-- <script src="https://unpkg.com/@deck.gl/google-maps@8.9.23/dist.min.js"></script> -->
<!-- optional if mapbox base map is needed -->
<div class="map-container" id="map"></div>
<div id="tooltip"></div>

@switch(mapState()){

@case('initial'){
<div class="button-container">
  <button mat-raised-button (click)="initMap()">Load Map</button>
</div>
}

@case ('loading'){
<div class="spinner-container">
  <mat-spinner id="spinner"></mat-spinner>
</div>
}
}
