.map-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
}

.button-container {
  display:flex;
  justify-content: center;
}

.spinner-container {
  display:flex;
  justify-content: center;
}

button {
  margin-top: 50vh;
}

#spinner {
  margin-top: 47vh;
}
