@use "@angular/material" as mat;

.spacer{
    flex: 1 1 auto;
}

.unloaded {
  display: flex;
  justify-content:right;
  align-items: right;
}

.first-row {
  display: flex;
}

// NOTE:The width of the sidenav is 450px.
#search-form {
  margin-left: 1em; margin-top: 1em;
}

#sort-select {
  margin-left: 1rem;
  /* margin-top: 1rem; */
}

.content-first-row {
  display: flex;
}

.link {
  word-break: break-all;
}

table {
  overflow-y: scroll;
  max-height: calc(100vh - 1em);
}


.mini-button {
  position: relative;
  margin-top: 1em;
  background-color: #efefef;
  color: black;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-header {
  position: relative;
}
