@use '@angular/material' as mat;

.spacer {
  flex: 1 1 auto;
}

.close-button {
  position:absolute;
  left: 1em;
  top: 1em;
  z-index: 4;
}

.label-container {
  display: flex;
  justify-content: space-between;
}

#dropdown-path-1 {
  width: 150px;
}

#dropdown-path-2 {
  width: 150px;
}

// #unit-dropdown {
//   @include mat.select-density(-3);
//   @include mat.input-density(-3);
// }

.table-card {
  height: 90%;
  width: 100%;
  // background-color: #FDFBFB;
}

.card-controls {
  margin-top: 1em;
  height: 90%;
  width: 100%;
  // background-color: #FDFBFB;
}

// INFO:This determines the dimensions of the grid list.
.grid-list {
  width: 45em;
  // height: 50em;
  margin-top: 1em;
}

// NOTE:This is the element for the table embeded in the grid.
.grid-table-form {
  margin-top: 1em;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  // overflow-y: scroll;
  word-break: break-all;

  .submit-button {
    word-break:normal;
  }

  .animal-header-cell {
    word-break: normal;
  }
}

// .path-controls > .first-row {
//   display: flex;
//   justify-content: space-between;
// }
//
// .path-controls > .second-row {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }
//
// // This row contains the slider.
// .path-controls > .third-row {
//   display:flex;
//   flex-wrap:wrap;
//   justify-content: space-between;
// }

// NOTE:This controls the styling for the table itself.
#table-container {
  position: relative;
}

// #input-container {
//   margin-left: 1em;
// }

.slider {
  flex: 1 1 auto;
  margin-left: 1em;
  margin-right: 1em;
}

.submit-button {
  margin-left: 1em;
  margin-bottom:5px;
}

mat-card {
  margin: 10px 10px 30px 30px;
}

.first-content-row {
  display: flex;
  align-items:normal;
}

.second-content-row {
  display: flex;
}

.third-content-row {
  display: flex;
}


