.spacer {
  flex: 1 1 auto;
}

// .tab-group {
//   overflow:visible;
// }

// .tab-1 {
//   // width: 10px;
//   // overflow-y:hidden;
//   max-height: 50vh;
// }

.first-row {
  display: flex;
  justify-content: left;
  margin-left: 1em;
  margin-right: 1em;
}

// .date-input {
//   flex: 1 1 30px;
// }

// .tab-1{
//   // height: 50vh;
// }

.second-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slide-toggle {
  // flex: 1 1 0;
  margin-top: 20px;
  margin-left: 1em;
}

.maxEventForm {
  // flex: 1 1 20;
  margin-right: 1em;
}

// This row contains the slider.
.third-row {
  display:flex;
  justify-content: center;
  flex: 1 1 0;
}

// NOTE: Alignment is changed dynamically.

.fourth-row {
  display: flex;
  flex-wrap: wrap;
  // margin-left: 1em;
}

// .table-container {
//   // max-height: 95vh;
// }

.event-form {
  // overflow-y: scroll;
  // max-height: 300px;
  max-height: 80vh;
}

// .animal-table {
//   // overflow: clip;
//   // overflow: scroll;
//   // background-color: lightblue;
//   // height: 90vh;
// }

// .reduction-profile-form {
//   // flex: 1 1 70px;
// }
//
// .sensor-form {
//   // flex: 1 1 70px;
//   // margin-left: 1em;
// }


.slider {
  flex: 1 1 auto;
  margin-left: 1em;
  margin-right: 1em;
  // margin-left:6.0%;
  // margin-left: 1em;
  // width: 85%;
}

.submit-button {
  margin-left: 1em;
  margin-bottom:5px;
}

// .slide-toggle {
//   position: relative;
// }
