@use '@angular/material' as mat;

.spacer {
  flex: 1 1 auto;
}

.first-row {
  display: flex;
  justify-content: left;
  margin-left: 1em;
  margin-right: 1em;
}

.second-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slide-toggle {
  // flex: 1 1 0;
  margin-top: 20px;
  margin-left: 1em;
}

.maxEventForm {
  // flex: 1 1 20;
  margin-right: 1em;
}

// This row contains the slider.
.third-row {
  display:flex;
  justify-content: center;
  flex: 1 1 0;
}

// NOTE: Alignment is changed dynamically.
.fourth-row {
  display: flex;
  flex-wrap: wrap;
}

#table-container {
  position: relative;
  max-height: calc(90vh - 12.75em);
  overflow-y: scroll;
}

.slider {
  flex: 1 1 auto;
  margin-left: 1em;
  margin-right: 1em;
}

.submit-button {
  margin-left: 1em;
  margin-bottom:5px;
}

mat-card {
  margin: 10px 10px 30px 30px;
}

mat-form-field {
  // width: 70px;
  width: auto;
  margin-right: 10px;
}

.first-content-row {
  display: flex;
}

.second-content-row {
  display: flex;
}

.third-content-row {
  display: flex;
}
