<mat-tab-group class="tab-group" preserveContent animationDuration="0ms"
  [ngStyle]="(screenChange | async) ? smallTabSize : largeTabSize">
  <!-- <mat-tab [label]="(screenChange | async) ? '' : 'Individuals'"> -->
  <mat-tab label="Animals" class="tab-1">

    <!-- @switch (TableState()){ -->
    <!-- @case ("initial"){ -->
    <!-- <span>Initial State</span> -->
    <!-- } -->
    <!---->
    <!-- @case ("loading"){ -->
    <!-- <span>Loading State</span> -->
    <!-- } -->
    <!---->
    <!-- @case ("error"){ -->
    <!-- <span>Http Error</span> -->
    <!-- } -->
    <!-- } -->

    <button mat-icon-button (click)="closeRightNav()">
      <mat-icon>close</mat-icon>
    </button>

    <br>
    <!-- @if(extraSmallScreenChange | async){ -->
    <!-- <span>Xtra Small Screen</span> -->
    <!-- } -->
    <br>

    <form [formGroup]="eventForm" #EventRef (ngSubmit)="submitForm()" class="event-form">
      <!-- TODO: -->
      <!-- 1) implement the onSubmit() method to create the observable. -->
      <!-- 2) Consider using a promise and awaiting method result. -->
      <!-- 3) Consider if this data needs to be used in the google maps component. -->

      <!-- TODO: Timestamp are used in conjunction with the studyId to retrieve event and nothing else. -->
      <!-- <div class="first-row"> -->
      <!--   <mat-form-field class="date-input"> -->
      <!--     <mat-label>Enter a date range.</mat-label> -->
      <!--     <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange"> -->
      <!--       <input matStartDate formControlName="start" placeholder="Start Date"> -->
      <!--       <input matEndDate formControlName="end" placeholder="End Date"> -->
      <!--     </mat-date-range-input> -->

      <!--     <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
      <!--     <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle> -->
      <!--     <mat-date-range-picker [touchUi]="extraSmallScreenChange | async" #picker></mat-date-range-picker> -->

      <!--     @if (eventForm.hasError("IncompleteSubmission")){ -->
      <!--     <mat-error>Incomplete Input.</mat-error> -->
      <!--     } -->
      <!--     @else if (eventForm.hasError("InvalidDateRange")){ -->
      <!--     <mat-error>Invalid Date Range Entered.</mat-error> -->
      <!--     } -->
      <!--   </mat-form-field> -->
      <!-- </div> -->

      <!-- <div class="second-row"> -->
      <!---->
      <!--   <mat-slide-toggle class="slide-toggle" [disabled]="TableState() !== 'loaded'" #slideToggle> -->
      <!--     Enable Event Limit -->
      <!--   </mat-slide-toggle> -->
      <!---->
      <!--   <!-- INFO: This is the text input form for the maximum number of events to request from MoveBank's api -->
      <!--   <mat-form-field class="maxEventForm"> -->
      <!--     <mat-label>Maximum number of events</mat-label> -->
      <!--     <input matInput class="maxEventInput" #maxEventInput formControlName="maxEvents" type="number" min="1" -->
      <!--       [max]="MAX_EVENTS_LIMIT" /> -->
      <!--   </mat-form-field> -->
      <!--   <br> -->
      <!--   @if (eventForm.hasError("InvalidNumber")){ -->
      <!--   <mat-error>Invalid Input.</mat-error> -->
      <!--   } -->
      <!-- </div> -->
      <!-- <!-- This slider should be synced with the text input box.-->
      <!-- <!-- This is another form the maxEvents form. -->
      <!-- <!-- [ngStyle]="(screenChange | async) ? smallTabSize : largeTabSize"-->
      <!-- <div class="third-row"> -->
      <!--   <mat-slider min="1" [max]="MAX_EVENTS_LIMIT" discrete class="slider"> -->
      <!--     <input matSliderThumb name="slider" (valueChange)="setMaxEventsValue($event)" -->
      <!--       [value]="maxEventInput.valueAsNumber"> -->
      <!--   </mat-slider> -->
      <!-- </div> -->
      <!-- <br> -->

      <!-- <div class="fourth-row" [ngStyle]="(screenChange | async) ? fourthRowSmall : fourthRowDefault"> -->
      <div class="dense-3" [ngStyle]="(screenChange | async) ? fourthRowSmall : fourthRowDefault">
        <mat-form-field class="reduction-profile-form">
          <!-- <mat-label>Reduction Profile</mat-label> -->
          <!-- <mat-label>Placeholder</mat-label> -->
          <mat-select formControlName="eventProfiles" placeholder="Event Profiles"
            matTooltip="Limit the number of events to improve performance and reduce clutter.">

            <mat-option value="EURING_01">24 hours between events.</mat-option>
            <mat-divider></mat-divider>
            <mat-option value="EURING_02">50 kilometers between events.</mat-option>
            <mat-divider></mat-divider>
            <mat-option value="EURING_03">Last 30 days.</mat-option>
            <mat-divider></mat-divider>
            <mat-option value="EURING_04">0.25 degrees movement.</mat-option>
            <mat-divider></mat-divider>
            <mat-option [value]="null">None</mat-option>

          </mat-select>
        </mat-form-field>
        <mat-form-field class="sensor-form">

          <!-- <mat-label>Sensor Type</mat-label> -->
          <mat-select formControlName="sensorForm" placeholder="Sensors" matTooltip="Select a sensor type.">
            <!-- <mat-option [value]="null">-</mat-option> -->
            <!-- <mat-option [value]="null">Any Sensor Type</mat-option> -->
            @for (option of currentLocationSensors(); track option){
            <mat-divider></mat-divider>
            <mat-option [value]="option">{{option}}</mat-option>
            }
            @empty {
            <mat-option [value]="null">-</mat-option>
            }

          </mat-select>

          @if(eventForm.dirty && eventForm.hasError("noSensorSelected")){
          <mat-error>No Sensor Selected.</mat-error>
          }
        </mat-form-field>

      </div>

      <!-- TODO: Finalize using the formArray as the input source. -->
      <!-- This error warning should only display if individuals have loaded in. -->
      @if (eventForm.dirty && eventForm.hasError("noOptionSelected")){
      <mat-error>No Option Selected.</mat-error>
      }
      @if (TableState() === "loading"){
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }@else{
      <br>
      }
      <!-- <div class="table-container"> -->
      <div class="dense-3" id="table-container">
        <table mat-table formArrayName="checkboxes" matSort matSortDisableClear matSortActive="name"
          matSortDirection="asc" [dataSource]="tableSource" #Table [trackBy]="trackById" class="animal-table">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">

            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox [checked]="hasValue() && isAllSelected()" [indeterminate]="hasValue() && !isAllSelected()"
                (change)="$event ? toggleAllRows() : null"></mat-checkbox>
            </th>

            <!-- TODO: Decide if a form needs to be used or if a request can be made with the selectionModel only -->
            <!-- And set the aria-label -->
            <td mat-cell *matCellDef="let control; let j = index;" class="checkbox-header-cell">

              <mat-checkbox [formControlName]="j" (click)="$event.stopPropagation()" (change)="toggleRow(j)"
                [id]="j"></mat-checkbox>
            </td>

            <td mat-footer-cell *matFooterCellDef>
              <!-- <mat-divider></mat-divider> -->
              <button mat-raised-button [disabled]="TableState() !== 'loaded' || eventForm.invalid" color="primary"
                type="submit">
                Submit
              </button><!-- <button mat-icon-button (click)="EventRef.scrollIntoView(true)"><mat-icon>close</mat-icon></button> -->
            </td>

            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </ng-container>


          <ng-container matColumnDef="name" class="ng-container">

            <th mat-header-cell class="animal-header-cell" *matHeaderCellDef mat-sort-header
              sortActionDescription="Sort by name">
              <div class="animal-header-content">
                <span>Animals</span>
                <mat-icon
                  matTooltip="Each animal is assigned a unique individual identifier provided by the owner of the study."
                  aria-label="false" fontIcon="info"></mat-icon>
              </div>
            </th>

            <!-- TODO: Set the value attribute to the local identifier. -->
            <!-- INFO: This the templating for the individual local identifiers -->
            <td mat-cell *matCellDef="let control; let j = index;" class="individual-header-cell">
              <p>{{getIndividual(j)()?.LocalIdentifier ?? "N/A" }}</p>
            </td>


            <!-- TODO:Decide on an element to place here. -->
            <td mat-footer-cell *matFooterCellDef>
            </td>

          </ng-container>

          <tr mat-header-row class="header-row" *matHeaderRowDef="displayedColumns; sticky:true"></tr>
          <tr mat-row class="rows" *matRowDef="let row; let i = index; columns:displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true">
        </table>

      </div>
      <!-- <mat-paginator [length]="tableSource.FormArray().length" pageSize="5"></mat-paginator> -->
    </form>
    @if (TableState() === "loaded" && tableSource.TableSize() === 0){
    <br>
    <span>No Animals Found.</span>
    }

  </mat-tab>

  <!-- TODO: Get started on the event controls-->
  <!-- Look at notes for info. on available options -->
  <!-- Add a notification for this tab when new events arrive. -->
  <mat-tab label="Events">
    <!-- @switch(currentEventData){ -->
    <!-- @case(undefined){ -->
    <!-- } -->
    <!-- @default{ -->
    <!-- } -->
    <!-- } -->
    <!-- NOTE: Individual names are unique -->
    <!-- Consider adding an actual form to hold the content. -->
    <!-- Add a max width and place the items in a flex container? -->
    <div class="controls-container"
      *ngFor="let animal of currentEventData?.currentIndividuals ?? []; trackBy: trackByAnimalName">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>
            Placeholder: {{animal}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- TODO: Add the controls here. The exact controls are specified in the notes. -->

          <!-- <mat-form-field> -->
          <!-- </mat-form-field> -->
          <p>Some Content</p>

          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Submit</button>
        </mat-card-actions>
        <mat-card-footer>
          <!-- TODO: If events are still arriving from the stream then add a loading bar? -->
        </mat-card-footer>
      </mat-card>
      <br>
    </div>
    @if(currentEventData !== undefined; as Events){
    {{ currentEventData?.currentIndividuals?.join(",") ?? "N/A"}}
    }
  </mat-tab>
</mat-tab-group>
