mat-form-field {
    display: block;    
    width: 50%;    
    margin-left: 25%;
    }

.submit-button {
    background: rgb(4, 92, 65);
}
.login {
    text-align: center;
    min-height: 100vh;
}
.login h1 {
    position: relative;
    text-align: left;
    margin-left: 25%;
}