<!-- <div class="main-content"> -->
<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">

  <mat-sidenav #sidenav mode="over" [opened]="true" [fixedInViewport]="false" class="sidenav" [disableClose]="true">
    <app-simple-search></app-simple-search>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <app-map></app-map>
  </mat-sidenav-content>

</mat-sidenav-container>

<!-- </div> -->

<!-- <div class="app-container"> -->
<!--   <app-map></app-map> -->
<!-- </div> -->
<!---->
<!-- <div class="side-search-container"> -->
<!---->
<!-- </div> -->
