<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="nuget">
	    <package pattern="coverlet.*"/>
        <package pattern="AWSSDK.Core" />
        <package pattern="AWSSDK.Extensions.NETCore.Setup" />
        <package pattern="AWSSDK.S3" />
        <package pattern="AWSSDK.SecretsManager" />
        <package pattern="AWSSDK.SecretsManager.Caching" />
        <package pattern="AWSSDK.SecurityToken" />
        <package pattern="Azure.Core" />
        <package pattern="Azure.Identity" />
        <package pattern="CsvHelper" />
        <package pattern="EFCore.BulkExtensions" />
        <package pattern="EPPlus" />
        <package pattern="Google.Protobuf" />
        <package pattern="Humanizer.Core" />
        <package pattern="MessagePack" />
        <package pattern="MessagePack.Annotations" />
        <package pattern="MessagePackAnalyzer" />
        <package pattern="dotnet-ef" />
        <package pattern="microsoft.*" />
        <package pattern="Mono.TextTemplating" />
        <package pattern="NetTopologySuite" />
        <package pattern="NetTopologySuite.IO.SqlServerBytes" />
        <package pattern="Newtonsoft.Json" />
        <package pattern="Npgsql" />
        <package pattern="Npgsql.EntityFrameworkCore.PostgreSQL" />
        <package pattern="NuGet.Common" />
        <package pattern="NuGet.Configuration" />
        <package pattern="NuGet.DependencyResolver.Core" />
        <package pattern="NuGet.Frameworks" />
        <package pattern="NuGet.LibraryModel" />
        <package pattern="NuGet.PackageSourceMapper" />
        <package pattern="NuGet.Packaging" />
        <package pattern="NuGet.ProjectModel" />
        <package pattern="NuGet.Protocol" />
        <package pattern="NuGet.Versioning" />
        <package pattern="Pipelines.Sockets.Unofficial" />
        <package pattern="runtime.*" />
        <package pattern="system.*" />
		<package pattern="System.*" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
