#map {
  position: absolute;
  top: 0;
  bottom: 0;
  /* width: 100%; */
  /* height: 100%; */
  width: 100%;
  height: 100%;
  padding: 0;
}

.button-container {
  display:flex;
  justify-content: center;
  z-index: 54;
  margin-top: 50vh;
}

.spinner-container {
  display: flex;
  justify-content: center;
}

#spinner {
  top: 47vh;
}
