<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
	<packageSourceMapping>
		<clear />
		<packageSource key="nuget">
			<package pattern="AutoMapper" />
			<package pattern="AutoMapper.Extensions.Microsoft.DependencyInjection" />
			<package pattern="Mapster" />
			<package pattern="AWSSDK.Core" />
			<package pattern="AWSSDK.Extensions.NETCore.Setup" />
			<package pattern="AWSSDK.S3" />
			<package pattern="AWSSDK.SecretsManager" />
			<package pattern="AWSSDK.SecretsManager.Caching" />
			<package pattern="AWSSDK.SecurityToken" />
			<package pattern="Azure.Core" />
			<package pattern="Azure.Identity" />
			<package pattern="CsvHelper" />
			<package pattern="EFCore.BulkExtensions" />
			<package pattern="EPPlus" />
			<package pattern="Google.Protobuf" />
			<package pattern="GreenDonut" />
			<package pattern="Grpc.AspNetCore" />
			<package pattern="Grpc.AspNetCore.Server" />
			<package pattern="Grpc.AspNetCore.Server.ClientFactory" />
			<package pattern="Grpc.Core.Api" />
			<package pattern="Grpc.Net.Client" />
			<package pattern="Grpc.Net.ClientFactory" />
			<package pattern="Grpc.Net.Common" />
			<package pattern="Grpc.Tools" />
			<package pattern="HotChocolate" />
			<package pattern="HotChocolate.Abstractions" />
			<package pattern="HotChocolate.AspNetCore" />
			<package pattern="HotChocolate.AspNetCore.Authorization" />
			<package pattern="HotChocolate.Data" />
			<package pattern="HotChocolate.Data.EntityFramework" />
			<package pattern="HotChocolate.Execution" />
			<package pattern="HotChocolate.Fetching" />
			<package pattern="HotChocolate.Language" />
			<package pattern="HotChocolate.Language.SyntaxTree" />
			<package pattern="HotChocolate.Language.Utf8" />
			<package pattern="HotChocolate.Language.Visitors" />
			<package pattern="HotChocolate.Subscriptions" />
			<package pattern="HotChocolate.Subscriptions.InMemory" />
			<package pattern="HotChocolate.Types" />
			<package pattern="HotChocolate.Types.CursorPagination" />
			<package pattern="HotChocolate.Types.Mutations" />
			<package pattern="HotChocolate.Types.OffsetPagination" />
			<package pattern="HotChocolate.Types.Scalars.Upload" />
			<package pattern="HotChocolate.Utilities" />
			<package pattern="HotChocolate.Utilities.Introspection" />
			<package pattern="HotChocolate.Validation" />
			<package pattern="Humanizer.Core" />
			<package pattern="MessagePack" />
			<package pattern="MessagePack.Annotations" />
			<package pattern="MessagePackAnalyzer" />
      <package pattern="dotnet-ef" />
			<package pattern="microsoft.*" />
			<package pattern="Mono.TextTemplating" />
			<package pattern="NetTopologySuite" />
			<package pattern="NetTopologySuite.IO.SqlServerBytes" />
			<package pattern="Newtonsoft.Json" />
			<package pattern="Npgsql" />
			<package pattern="Npgsql.EntityFrameworkCore.PostgreSQL" />
			<package pattern="NuGet.Common" />
			<package pattern="NuGet.Configuration" />
			<package pattern="NuGet.DependencyResolver.Core" />
			<package pattern="NuGet.Frameworks" />
			<package pattern="NuGet.LibraryModel" />
			<package pattern="NuGet.PackageSourceMapper" />
			<package pattern="NuGet.Packaging" />
			<package pattern="NuGet.ProjectModel" />
			<package pattern="NuGet.Protocol" />
			<package pattern="NuGet.Versioning" />
			<package pattern="Pipelines.Sockets.Unofficial" />
			<package pattern="runtime.*" />
			<package pattern="Serilog" />
			<package pattern="Serilog.AspNetCore" />
			<package pattern="Serilog.Enrichers.Environment" />
			<package pattern="Serilog.Enrichers.Thread" />
			<package pattern="Serilog.Extensions.Hosting" />
			<package pattern="Serilog.Extensions.Logging" />
			<package pattern="Serilog.Formatting.Compact" />
			<package pattern="Serilog.Settings.Configuration" />
			<package pattern="Serilog.Sinks.Console" />
			<package pattern="Serilog.Sinks.Debug" />
			<package pattern="Serilog.Sinks.File" />
			<package pattern="Serilog.Sinks.MSSqlServer" />
			<package pattern="Serilog.Sinks.PeriodicBatching" />
			<package pattern="SQLitePCLRaw.core" />
			<package pattern="StackExchange.Redis" />
			<package pattern="Swashbuckle.AspNetCore" />
			<package pattern="Swashbuckle.AspNetCore.Swagger" />
			<package pattern="Swashbuckle.AspNetCore.SwaggerGen" />
			<package pattern="Swashbuckle.AspNetCore.SwaggerUI" />
			<package pattern="system.*" />
		</packageSource>
	</packageSourceMapping>
	<disabledPackageSources>
		<clear />
	</disabledPackageSources>
</configuration>
