.sidenav-container {
    position: fixed;
    /* display: flex; */
    height: 100%;
    width: 100%;
    /* border-style: solid; */
}

.sidenav {
  /* margin: 1em; */
  /*TODO: set up correct margins */
  /* margin: 5em 1em; */
  margin-top: 6em;
  margin-left: 2em;
  margin-bottom: 4em;
  width: 500px;
  min-width: 5%;
  max-width: 60%;
  border-radius: 15px;
}

.sidenav-content {
  position: fixed;
  /* background-color: blue; */
  background-color: lightblue;
  width: 100%;
  height: 95%;
}

.right-sidenav {
  min-width: 100px;
  width: 400px;
  margin-top:3.5em;
  /* margin-top:6em; */
  /* position:fixed; */
}
/**/
/* .toggle-button { */
/**/
/* } */
