.sidenav-container {
    position:fixed;
    height: 100%;
    width: 100%;
}

.search-container {
  position:relative;
  display: flex;
}

.sidenav-content {
  position: relative;
  /* background-color: lightblue; */
  background-color: white;
  width: 100%;
  height: 100%;
}

/* NOTE: This section is used if the button is placed after the search compnent.*/
.toggle-button {
  position: absolute;
  color:black;
  background-color: white;
  margin-top:50vh;
  z-index: 3;
}

.right-toggle-button {
  /* position: absolute; */
  position: relative;
  color: black;
  background-color: white;
  margin-top: 50vh;
  margin-left: calc(100vw - 4.250em);
  /* margin-left: 97vw; */
  z-index: 3;
}


.right-sidenav {
  min-width: 100px;
  height: 100%;
  margin-top:3.5em;
}
