<!--NOTE:On small screens this button is disabled.-->
<!-- @if (!(XSmallScreen$ | async)) { -->

@if (!(smallScreen$ | async)) {
<button mat-mini-fab [hidden]="!mapLoaded()" class="left-toggle-button" (click)="toggleSearchNav()"
  [@leftPanelOpened]="leftPanelOpened()">
  @if (leftPanelOpened()) {
  <mat-icon>chevron_left</mat-icon>
  } @else {
  <mat-icon>chevron_right</mat-icon>
  }
</button>
}

@if (!(smallScreen$ | async) && mapLoaded()) {
<button mat-mini-fab [hidden]="!mapLoaded()" class="right-toggle-button" (click)="toggleEventNav()"
  [@rightPanelOpened]="rightPanelOpened()">
  @if (rightPanelOpened()) {
  <mat-icon>chevron_right</mat-icon>
  } @else {
  <mat-icon>chevron_left</mat-icon>
  }
</button>
} @else {

<!-- TODO:This button needs a enter animation. -->
@if (!rightNav.opened && !sidenav.opened){
<button mat-fab [hidden]="!mapLoaded()" @rightToggleClick class="right-toggle-button-small" (click)="openRightNav()">
  <mat-icon>chevron_left</mat-icon>
</button>
}
}

<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">

  <mat-sidenav #sidenav mode="over" [opened]="true" [fixedInViewport]="true" class="sidenav" [disableClose]="true"
    [ngStyle]="(XSmallScreen$ | async) ? leftNavSmallStyle : leftNavLargeStyle">

    <div class="search-container">

      @if (sidenav.opened || searchOpened()) {
      <app-simple-search [hidden]="!searchOpened" [allStudies]="currentStudies" (closeComponent)="closeSearchNav()"
        (componentInitialized)="initializeSearchNav()"
        (panToMarkerEvent)="updateCurrentMarkers($event)"></app-simple-search>
      }

    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">

    <!-- TODO: Decide on the styling for the normal case. -->
    <!-- NOTE: This is another sidenav within the outer sidenav -->
    <mat-sidenav class="right-sidenav" [ngStyle]="(smallScreen$ | async) ? {} : rightNavStyle" #rightSidenav
      [opened]="false" position="end" [disableClose]="true" mode="over" [fixedInViewport]="true">

      <app-events #eventComponent (eventRequestEmitter)="updateCurrentEventRequest($event)"
        (closeRightNavEmitter)="closeRightNav()" [currentStudy]="currentStudy" [currentEventData]="currentChunkInfo"
        [streamStatus]="currentStreamStatus" [currentSelectedLayer]="currentLayer()"
        (controlOptionsEmitter)="updateControlChanges($event)"></app-events>

    </mat-sidenav>

    <!-- NOTE:This is where the actual content lies. -->
    <mat-sidenav-content class="sidenav-content-right">

      @if (mapLoaded()) {

      <div class="toolbar-container">

        <!-- TODO:Change the color of this button and change to a mini fab on smaller screens. -->
        <mat-toolbar class="dense-3" id="toolbar">

          @if (XSmallScreen$ | async) {
          <button mat-mini-fab [ngStyle]="menuXSmallStyle" class="menu-button" [matMenuTriggerFor]="mainMenu">
            <mat-icon>menu</mat-icon>
          </button>
          } @else {
          <button mat-fab class="menu-button" [ngStyle]="menuNormalStyle" [matMenuTriggerFor]="mainMenu">
            <mat-icon>menu</mat-icon>
          </button>
          }
          <span class="spacer"></span>

          <!-- The spacer does not work since the width is not fixed. -->
          <div class="toolbar-elements">

            <!-- INFO:Main menu section-->
            <mat-menu #mainMenu="matMenu" xPosition="after" yPosition="below">
              <button mat-menu-item [matMenuTriggerFor]="settingsMenu">Settings</button>
              <button mat-menu-item (click)="gotoReferences()">Acknowledgements</button>
              <button mat-menu-item (click)="gotoLoginPage()">Login</button>
              @if (isAdmin()){
                  <button mat-menu-item (click)="gotoAdminPage()">Admin Page</button>
              }
            </mat-menu>

            <mat-menu #settingsMenu="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="basemaps">Change Base Map</button>
            </mat-menu>

            <mat-menu #basemaps="matMenu" XPosition="before" yPosition="below">
              <button mat-menu-item (click)="setBaseMap('google')">
                Google Maps
              </button>
              <button mat-menu-item (click)="setBaseMap('mapbox')">
                Mapbox
              </button>
            </mat-menu>

            @if (XSmallScreen$ | async) {
            <button mat-mini-fab id="mini-fab-layer" class="extended-fab" [matMenuTriggerFor]="layerMenu">
              <mat-icon>layers</mat-icon>
            </button>
            } @else {
            <button mat-fab extended matRipple class="extended-fab" [matMenuTriggerFor]="layerMenu">
              <mat-icon>layers</mat-icon>
              Layers
            </button>
            }

            <mat-menu #layerMenu="matMenu" xPosition="after" yPosition="below">
              <mat-radio-group class="layer-radio-group" [(ngModel)]="radioGroupValue">
                @for (layerOptions of layerMenuOptions;track layerOptions[0]) {
                <mat-radio-button [value]="layerOptions[1]" (change)="layerOptionSelected($event)"
                  class="layer-radio-button">{{ layerOptions[0] }}
                </mat-radio-button>
                }
              </mat-radio-group>
            </mat-menu>


            @if (activeMap() === 'google') {
            <mat-button-toggle-group class="toggle-group">

              <mat-button-toggle (click)="setMapTypeGoogle(checkboxMap.checked ? 'terrain' : 'roadmap')"
                [matMenuTriggerFor]="roadMap">
                @if (!(XSmallScreen$ | async)){
                <mat-icon>map</mat-icon>
                }
                Map
              </mat-button-toggle>
              <mat-button-toggle (click)="setMapTypeGoogle(checkboxSatellite.checked ? 'hybrid' : 'satellite')"
                [matMenuTriggerFor]="Satellitemenu">
                @if (!(XSmallScreen$ | async)){
                <mat-icon>satellite</mat-icon>
                }
                Satellite
              </mat-button-toggle>

              <mat-menu #roadMap="matMenu" xPosition="after" yPosition="below">

                <button mat-menu-item>
                  <mat-checkbox #checkboxMap color="primary" value="roadmap" (change)="setMapTypeCheckbox($event)">
                    Terrain
                  </mat-checkbox>
                </button>

              </mat-menu>

              <mat-menu #Satellitemenu="matMenu" xPosition="after" yPosition="below">
                <button mat-menu-item>
                  <mat-checkbox #checkboxSatellite color="primary" value="satellite"
                    (change)="setMapTypeCheckbox($event)">
                    Label
                  </mat-checkbox>
                </button>
              </mat-menu>
            </mat-button-toggle-group>
            }


            <button mat-mini-fab matRipple class="marker-toggle" (click)="toggleMarkerVisibility()" color="primary">
              @if (!markersVisible()) {
              <mat-icon>location_on</mat-icon>
              } @else {
              <mat-icon>location_off</mat-icon>
              }
            </button>
          </div>

          <span class="spacer"></span>

        </mat-toolbar>

      </div>
      } @else {
      <mat-toolbar class="dense-3" id="toolbar">
        @if (XSmallScreen$ | async) {
        <button mat-mini-fab [ngStyle]="menuXSmallStyle" class="menu-button" [matMenuTriggerFor]="mainMenu">
          <mat-icon>menu</mat-icon>
        </button>
        } @else {
        <button mat-fab class="menu-button" [ngStyle]="menuNormalStyle" [matMenuTriggerFor]="mainMenu">
          <mat-icon>menu</mat-icon>
        </button>
        }
        <mat-menu #mainMenu="matMenu" xPosition="after" yPosition="below">
          <button mat-menu-item [matMenuTriggerFor]="settingsMenu">Settings</button>
          <button mat-menu-item (click)="gotoReferences()">References</button>
        </mat-menu>

        <mat-menu #settingsMenu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="basemaps">Change Base Map</button>
        </mat-menu>

        <mat-menu #basemaps="matMenu" XPosition="before" yPosition="below">
          <button mat-menu-item (click)="setBaseMap('google')">
            Google Maps
          </button>
          <button mat-menu-item (click)="setBaseMap('mapbox')">
            Mapbox
          </button>
        </mat-menu>

      </mat-toolbar>
      }

      @if (leftButtonFlag() === true && (smallScreen$ | async)) {
      <button mat-fab [hidden]="!leftButtonFlag()" @leftToggleClick (click)="openSearchNav()" class="toggle-button">
        <mat-icon>chevron_right</mat-icon>
      </button>
      }

      <!-- TODO:This should be changed to a switch case after refactoring. -->
      @switch (activeMap()) {

      @case ("google") {
      <app-google-map [pathEventData$]="currentEventLineData$" (mapStateEmitter)="updateMapState($event)"
        (studiesEmitter)="updateCurrentStudies($event)" (studyEmitter)="updateCurrentStudy($event)"
        [focusedMarker]="currentMarker" [eventRequest]="currentEventRequest" [mapType]="currentMapType"
        [selectedLayer]="currentLayer()" (chunkInfoEmitter)="updateChunkMetadata($event)"
        (streamStatusEmitter)="updateStreamState($event)" [markersVisible]="markersVisible()"
        [deckOverlayControls]="currentControlOptions">
      </app-google-map>
      }
      @case ("mapbox") {
      <app-mapbox (mapStateEmitter)="updateMapState($event)" (studyEmitter)="updateCurrentStudy($event)"
        (studiesEmitter)="updateCurrentStudies($event)" (chunkInfoEmitter)="updateChunkMetadata($event)"
        [focusedPoint]="currentMarker" [eventRequest]="currentEventRequest" [selectedLayer]="currentLayer()"
        [pointsVisible]="markersVisible()" [deckOverlayControls]="currentControlOptions">
      </app-mapbox>
      }
      @default {
      <span>Default case for basemap switch case.</span>
      }

      }

    </mat-sidenav-content>

  </mat-sidenav-content>
</mat-sidenav-container>
