<!-- <div class="main-content"> -->
<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">

  <mat-sidenav #sidenav mode="over" [opened]="true" [fixedInViewport]="true" class="sidenav" [disableClose]="true">
    <app-simple-search (panToMarkerEvent)="panToMarker($event)"></app-simple-search>
    <!-- <button mat-button class="toggle-button">Button</button> -->
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">

    <mat-sidenav class="right-sidenav" #rightSidenav [opened]="true" position="end" [disableClose]="true" mode="side"
      [fixedInViewport]="true">

      <!-- NOTE: Here, a specific study is toggled and has it's events displaye or removed from the map. -->
      <app-events [toggledStudy]="toggledStudy" [jsonPayload]="jsonPayload" [currentStudy]="currentStudy"></app-events>

    </mat-sidenav>

    <mat-sidenav-content>

      <!-- content -->
      <app-google-map (studyEmitter)="studyMessage($event)" (JsonDataEmitter)="sendJsonSubscription($event)"
        [focusedMarker]="currentMarker"></app-google-map>

    </mat-sidenav-content>

  </mat-sidenav-content>

</mat-sidenav-container>
