@use '@angular/material' as mat;

.sidenav-container {
    position:fixed;
    height: 100%;
    width: 100%;
}

/* INFO:This changes the width of the search component. */
.search-container {
  position:relative;
}

.sidenav-content {
  position: relative;
  /* background-color: lightblue; */
  background-color: white;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  /* height: calc(100% - 3.5em); */
}

/* NOTE: This section is used if the button is placed after the search compnent.*/
.toggle-button {
  position: absolute;
  color:black;
  background-color: white;
  margin-top:50vh;
  z-index: 3;
}

.expansion-panel-header {
  font-size:10px;
  background-color: green;
}

.right-toggle-button {
  /* position: absolute; */
  position: relative;
  color: black;
  background-color: white;
  margin-top: 50vh;
  margin-left: calc(100vw - 4.25em);
  z-index: 3;
}

/* NOTE:This setting is currently changed, */
.right-sidenav {
  max-width: 800px;
  // margin: 50px 50px 50px 50px;
}

/* TODO: The toolbar is broken on mobile and
 blocks acess to button. */
#toolbar {
  position: absolute;
  display: flex;
  z-index: 4;
  background-color:rgba(0, 0, 0, 0.0);

  button  {
    left: 400px;
    margin-left:1em;
    margin-top:1em;
    background-color: white;
    color:black;
  }

  .toggle-group-container {
    height: .5em;
  }

  mat-button-toggle-group {
    left: 400px;
    margin-left: 1em;
    margin-right:1em;
    margin-top:1em;
    // height: 1em;
    border-radius: 15px;
    background-color: white;
    mat-button-toggle {
      font-style: normal;
    }
  }

  .chip-listbox {
    position:relative;
    left: 400px;
    margin-left: 1em;
    margin-right:1em;
    margin-top:1em;
  }

  .home-button {
    background-color: white;
    color: black;
  }

  .extended-fab {
    height: 2.5em;
  }

  .rounded {
    height: 2.5em;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 25px;
  }
}
